extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/deviceTable.css')

    script.
        const selectDevice = (e) => {
            // console.log('e.value => ' + e.value)
            showDeviceInfo(e.value);
        }

        function showDeviceInfo(deviceId) {
            $.ajax({
                data: {
                    'deviceId': deviceId
                },
                type: 'get',
                dataType: 'html',
                url: "/deviceManage/api/search",
                contentType: 'application/json',
                success: (result) => {
                    $("#deviceInfo").html(result);
                },
                error: (err) => {
                    console.log(err)
                }
            })
        }

    //#diviceContainer
    .row#deviceContatiner
        p#pageTitle 장치 목록

    .row#showTable
        table#showInfo
            thead#deviceName
                tr
                    th(colspan="2")
                        select#selectDevice(name="deviceName" onchange="selectDevice(this)")
                          -for(let i = 0; i < dataOfTable.length; i++)
                              option(value = `${dataOfTable[i].deviceId}`) #{dataOfTable[i].deviceName}
            tbody#deviceInfo(style="text-align: center; border: 1px solid")
                tr
                    td#deviceImg(colspan="2") 이미지
                tr
                    th 장치 타입
                    td #{dataOfTable[0].deviceType}
                tr
                    th 등록 일
                    td #{dataOfTable[0].registerDate}
                tr
                    th 수정 일
                    td #{dataOfTable[0].modifyDate}

    .row
        table#buttonTable
            tr
                td
                    button(onClick='location.href = "/deviceRegister"' class='btn btn-dark mr-2' style="width: 90%") 장치 등록
            tr
                td
                    button(onClick='' class='btn btn-dark mr-2' style="width: 90%") 장치 정보 수정
            tr
                td
                    button(onClick='' class='btn btn-dark mr-2' style="width: 90%") 현재 장치 삭제
